<div class="common_sub_banner_size">
	<img src="/images/logo.jpg" alt="Logo" style="float: left;" />
</div>

<!--
<div class="common_left_column_size"> 
	Platform<br>
	Product Name<br>
</div>

<div class="common_right_column_size">
	<p>This is a paragraph.</p>
</div>
-->
